/* app css stylesheet */
@import url(../fonts/titillium/stylesheet.css);
html {
  font-family: 'titillium_weblight'; }

h1, h2 {
  margin: auto; }

h1 {
  display: inline-block;
  font-size: 1.8em; }

h2 {
  font-size: 1.1em; }

p {
  line-height: 2rem; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li {
    line-height: 4rem; }
    ul li a {
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #7e7e7e;
      padding: 0 5%; }
      ul li a:hover {
        background-color: #325563; }

.huge-clock {
  width: 100%;
  text-align: center; }
  .huge-clock p {
    font-size: 12rem;
    line-height: 20rem;
    margin: auto;
    font-family: 'titillium_webthin'; }

.playback-widget p {
  font-size: 1.4rem;
  margin: 0 auto 0.4rem; }

p.h3 {
  font-size: 1rem;
  color: #d2d2d2; }

.notify-widget .clock {
  font-size: 2rem; }

.notify-widget .notification-rt {
  font-size: 1.3rem; }

a {
  text-decoration: none; }

.main-nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  .main-nav ul li {
    width: 100%;
    height: 20%;
    list-style-type: none;
    text-align: center;
    line-height: 7rem; }
    .main-nav ul li a {
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #7e7e7e; }
      .main-nav ul li a:hover {
        background: #3286a1; }

html {
  font-size: 100%; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }

body {
  background: #000;
  color: #fff;
  font-size: 1.5rem; }

header {
  padding: 0 5%; }

.content-container {
  padding: 0 5%; }

p, a {
  color: #fff; }

.main-wrap {
  position: absolute;
  width: 100%;
  height: 100%; }

.main-viewport {
  float: left;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.main-nav {
  float: right;
  bottom: 0;
  display: inline-block;
  width: 15%;
  height: 100%;
  background: #454545; }
  .main-nav div {
    height: 100%; }

.notify-widget {
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #2b2b2b; }
  .notify-widget .content-wrapper {
    margin: 0 5%;
    vertical-align: middle;
    line-height: 4rem; }
  .notify-widget .notification-rt {
    float: right; }

.ui-view-container {
  display: inline-block;
  top: 10%;
  left: 0;
  width: 100%;
  height: 65%;
  overflow: hidden; }
  .ui-view-container .view {
    width: 100%;
    height: 100%; }

.playback-widget {
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: #2b2b2b; }
  .playback-widget .col-1 {
    display: inline-block;
    width: 20%;
    height: 100%; }
  .playback-widget .col-2 {
    display: inline-block;
    width: 87%;
    height: auto;
    vertical-align: top; }
  .playback-widget .content-wrapper {
    margin: 10px 2%;
    vertical-align: middle; }
  .playback-widget .album-thumb {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #6b6b6b; }
  .playback-widget .album-meta {
    display: inline-block;
    width: 100%;
    height: 80%;
    vertical-align: top;
    margin: auto 10px; }
    .playback-widget .album-meta .album-col-1, .playback-widget .album-meta .album-col-2 {
      display: inline-block;
      vertical-align: top;
      background: #4b4b4b;
      height: 90px;
      padding: 1rem; }
    .playback-widget .album-meta .album-col-1 {
      width: 40%; }
    .playback-widget .album-meta .album-col-2 {
      width: 50%; }
  .playback-widget .track-data {
    display: inline-block;
    width: 100%;
    height: 20%;
    vertical-align: top;
    margin: auto 10px; }
    .playback-widget .track-data .progress-bar-bg {
      display: inline-block;
      width: 100%;
      height: 30px;
      background: #000000; }
      .playback-widget .track-data .progress-bar-bg .progress-bar {
        display: block;
        height: 100%;
        background: #2982a3; }

.track-list {
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow-y: scroll; }
  .track-list ul {
    display: block;
    width: 100%;
    height: auto; }
