  <div class="content-wrapper">

      <div class="col-1 album-thumb">
        <a title="Go to album" ng-click="getNewDirectory(nowPlaying.dirPath)">
          <div background-img="{{nowPlaying.dirPath}}"></div>
        </a>
      </div>

      <div class="col-2">
        <div class="track-data">
          <rzslider rz-slider-model="progressBar.value"
           rz-slider-options="progressBar.options"></rzslider>
        </div>
        <div class="album-meta">
          <div class="nav-row track-info">
            <p>
              <span class="track">{{nowPlaying.name}}</span>
              <span class="artist">{{nowPlaying.artist}}</span>
              <!-- <span class="album">{{nowPlaying.album}}</span> -->
            </p>
          </div>
          <div class="nav-row transport-controls">
            <ul class="">
              <li class="tc-button">
                <i class="fa fa-fast-backward" aria-hidden="true" ng-click="prevSong()" ng-class="{'unselectable' : !canSkipBackward()}"></i>
              </li>
              <li class="tc-button {{playState}}">
                <i class="fa fa-pause transport-pause" aria-hidden="true" ng-click="pauseMusic()"></i>
                <i class="fa fa-play transport-play" aria-hidden="true" ng-click="pauseMusic()"></i>
              </li>
              <li class="tc-button">
                <i class="fa fa-fast-forward" aria-hidden="true" ng-click="nextSong()" ng-class="{'unselectable' : !canSkipForward()}"></i>
              </li>
            </ul>
          </div>

          <div class="album-col-1">
          </div>
          <div class="album-col-2">
            <div class="transport-controls">
            </div>
          </div>
        </div>

      </div>

  </div>
