  <div class="content-wrapper">

      <div class="col-1 album-thumb">
      </div>

      <div class="col-2">

        <div class="album-meta">
          <div class="album-col-1">
            <p class="artist">{{nowPlaying.artist}}</p>
            <p class="album">{{nowPlaying.album}}</p>
          </div>
          <div class="album-col-2">
            <p class="track">{{nowPlaying.name}}</p>
            <div class="transport-controls">
              
            </div>
          </div>
        </div>

        <div class="track-data">
          <div class="progress-bar-bg">
            <div class="progress-bar" style="width:{{progressBarWidth}}%"></div>
          </div>
        </div>

      </div>

  </div>
