/* app css stylesheet */

@import 'variables';
@import 'type';
@import 'navigation';
@import 'vendor/swiper/swiper';

html {
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: url(../img/desktop-bg-800-600.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}

header {
  padding: 20px 5%;
}

.content-container {
  padding: 0 5%;
}

p, a {
  color: #fff;
}

.main-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-viewport {
  float: left;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main-nav {
  float: right;
  // position: absolute;
  bottom: 0;
  display: inline-block;
  width: 15%;
  height: 100%;
  background: rgba(43, 43, 43, 0.75);
  div {
    height: 100%;
  }
}

.notify-widget {
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #2b2b2b;
  border-bottom: 1px solid $colour_theme_key;
  .content-wrapper {
    margin: 0 5%;
    vertical-align: middle;
    line-height: 4rem;
  }
  .notification-rt {
    float: right;
  }
}

.ui-view-container {
  display: block;
  top: 10%;
  left: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  .view {
    width: 100%;
    height: 100%;
  }
}


.playback-widget {
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #2b2b2b;

  .col-1 {
    display: inline-block;
    width: 20%;
    height: 100%;
  }
  .col-2 {
    display: inline-block;
    width: 79%;
    height: auto;
    vertical-align: top;
  }

  .content-wrapper {
    margin: 5px;
    vertical-align: middle;
  }
  .album-thumb {
    display: inline-block;
    div {
      min-height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    background: #6b6b6b;
  }
  .album-meta {
    display: inline-block;
    width: 100%;
    height: 80%;
    vertical-align: top;
    margin: 0;

    .album-col-1, .album-col-2 {
      display: inline-block;
      vertical-align: top;
      height: 90px;
      padding: 1rem;
    }
    .album-col-1 {
      width: 35%;
    }
    .album-col-2 {
      width: 45%;
    }
  }
  .track-info {
    max-height: 3em;
    overflow: hidden;
    border-bottom: 1px solid $colour_theme_key;
    padding: 0 1rem;
    p {
      line-height: 2em;
    }
  }
  .track-data {
    display: inline-block;
    width: 100%;
    height: 20%;
    vertical-align: top;
    margin: 0;
    .progress-bar-bg {
      display: inline-block;
      width: 100%;
      height: 30px;
      background: #000000;
      .progress-bar {
        display: block;
        // width: 0;
        height: 100%;
        background: #2982a3;
      }
    }
  }
}

.file-nav-wrapper {
  display: inline-block;
  width: 100%;
  height: 80%;
  ul li a {
    padding: 0;
    text-indent: 1em;
  }
}

.gallery-grid {
  display: flex;
  width: 80% !important;
  height: auto;
  float: right;
}
.gallery-item.thumb {
  display: flex;
  float: left;
  width: 100px;
  height: 130px;
  overflow: hidden;
  margin-right: 10px;
  a {
    width: 100%;
    flex-direction: column;
  }
  .thumb-image {
    width: 100%;
    height: 78%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .thumb-caption {
    width: 100%;
    height: 22% !important;
    margin: 0;
    background-color: #1a1a1a;
    p {
      color: #fff;
      margin: 0;
      font-size: 0.9rem;
      text-indent: 0.5em;

      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.text-unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.swiper-container {
  width: 600px;
  height: 300px;
}

.rzslider {
  margin: 15px 0 15px 0 !important;
}
.rzslider .rz-bar {
  height: 10px !important;
}
.rzslider .rz-bubble {
  visibility: hidden !important;
}
.rzslider .rz-pointer {
  outline: none !important;
}
