/* app css stylesheet */

@import 'type';
@import 'navigation';

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: #000;
  color: #fff;
  font-size: 1.5rem;
}

header {
  padding: 0 5%;
}

p, a {
  color: #fff;
}

.main-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-viewport {
  float: left;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main-nav {
  float: right;
  // position: absolute;
  bottom: 0;
  display: inline-block;
  width: 15%;
  height: 100%;
  background: #454545;
  div {
    height: 100%;
  }
}

.notify-widget {
  display: inline-block;
  // position: absolute;
  // float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #2b2b2b;
  .content-wrapper {
    margin: 0 5%;
    vertical-align: middle;
    line-height: 4rem;
  }
  .notification-rt {
    float: right;
  }
}

.ui-view-container {
  display: inline-block;
  // position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 65%;
  overflow: hidden;
  .view {
    width: 100%;
    height: 100%;
    // padding: 0 5%;
  }
}


.playback-widget {
  display: inline-block;
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: #2b2b2b;

  .col-1 {
    display: inline-block;
    width: 20%;
    height: 100%;
  }
  .col-2 {
    display: inline-block;
    width: 87%;
    height: auto;
    vertical-align: top;
  }

  .content-wrapper {
    margin: 10px 2%;
    vertical-align: middle;
  }
  .album-thumb {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #6b6b6b;
  }
  .album-meta {
    display: inline-block;
    width: 100%;
    height: 80%;
    vertical-align: top;
    margin: auto 10px;

    .album-col-1, .album-col-2 {
      display: inline-block;
      vertical-align: top;
      background: #4b4b4b;
      height: 90px;
      padding: 1rem;
    }
    .album-col-1 {
      width: 30%;
    }
    .album-col-2 {
      width: 60%;
    }
  }
  .track-data {
    display: inline-block;
    width: 100%;
    height: 20%;
    vertical-align: top;
    margin: auto 10px;
    .progress-bar-bg {
      display: inline-block;
      width: 100%;
      height: 30px;
      background: #000000;
      .progress-bar {
        display: block;
        // width: 0;
        height: 100%;
        background: #2982a3;
      }
    }
  }
}

.track-list {
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  ul {
    display: block;
    width: 100%;
    height: auto;
  }
}
